.margin--sb {
  margin-bottom: 16px;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
}

.first {
  font-size: 24px;
}

.second {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: blue;
}
.container {
  font-weight: 500;
  text-transform: uppercase;
}
.third {
  color: blueviolet;
}

.fourth {
  color: brown;
}

.counter {
  color: crimson;
  font-size: 24px;
  margin-left: 20px;
}
